.sidebar {
  box-shadow: 5px 0 5px -3px #888;

  position: absolute;
  top: 0;
  bottom: 0;
}

.sidebar-open {
  width: 250px;
}

.sidebar-closed {
  width: 50px;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.active {
}
